<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCojb45QnE3kfw3-0-nTdDGicAXIXH0TKA</string>
	<key>GCM_SENDER_ID</key>
	<string>539900922405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyStats.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>studystat-3178c</string>
	<key>STORAGE_BUCKET</key>
	<string>studystat-3178c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539900922405:ios:524d64766276aa78134dcc</string>
</dict>
</plist>